/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  width: 95%;
  max-width: 60rem;
  margin: 5% auto;
}

form {
  display: flex;
  margin-bottom: 5%;
}

input[type=text],
textarea {
  padding: 0 0.5rem;
  border: 2px solid #ccc;
  display: block;
  flex-grow: 1;
  height: 2.5rem;
  font-size: inherit;
}
input[type=text]:focus {
  border-color: #06f;
}

[type=submit] {
  background-color: #06f;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
}

[type=submit][disabled] {
  background-color: #ccc;
  color: #666
}

article + article {
  margin-top: 1rem;
}

article {
  opacity: 0.25;
}

article[data-persisted] {
  opacity: 1;
}

article header,
article footer {
  font-size: 0.875em;
  color: #666;
  margin: 0 0.3125rem;
}

article > div {
  display: flex;
}

article p + p {
  margin-top: 0.5rem;
}

.bubble {
  border-radius: 1.25rem;
  border: 2px solid;
  padding: 0.3125rem 0.625rem;
}
