<article <%= "data-optimistic" if local_assigns[:optimistic] %>>
  <div class="comment-body">
    <div class="bubble">
      <%= body %>
    </div>
  </div>

  <footer>
    <%= footer %>
  </footer>
</article>
